# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
.swc/
out/
build

# expo
.expo

# misc
.DS_Store
*.pem
dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# turbo
.turbo
apps/native/android/.gitignore
apps/native/android/build.gradle
apps/native/android/gradle.properties
apps/native/android/gradlew
apps/native/android/gradlew.bat
apps/native/android/settings.gradle
apps/native/android/app/build.gradle
apps/native/android/app/debug.keystore
apps/native/android/app/proguard-rules.pro
apps/native/android/app/src/debug/AndroidManifest.xml
apps/native/android/app/src/main/AndroidManifest.xml
apps/native/android/app/src/main/java/com/galionix/xnative/MainActivity.kt
apps/native/android/app/src/main/java/com/galionix/xnative/MainApplication.kt
apps/native/android/app/src/main/res/drawable/ic_launcher_background.xml
apps/native/android/app/src/main/res/drawable/rn_edit_text_material.xml
apps/native/android/app/src/main/res/drawable-hdpi/splashscreen_logo.png
apps/native/android/app/src/main/res/drawable-mdpi/splashscreen_logo.png
apps/native/android/app/src/main/res/drawable-xhdpi/splashscreen_logo.png
apps/native/android/app/src/main/res/drawable-xxhdpi/splashscreen_logo.png
apps/native/android/app/src/main/res/drawable-xxxhdpi/splashscreen_logo.png
apps/native/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
apps/native/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
apps/native/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
apps/native/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
apps/native/android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
apps/native/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
apps/native/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
apps/native/android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
apps/native/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
apps/native/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
apps/native/android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
apps/native/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
apps/native/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
apps/native/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
apps/native/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
apps/native/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
apps/native/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
apps/native/android/app/src/main/res/values/colors.xml
apps/native/android/app/src/main/res/values/strings.xml
apps/native/android/app/src/main/res/values/styles.xml
apps/native/android/app/src/main/res/values-night/colors.xml
apps/native/android/gradle/wrapper/gradle-wrapper.jar
apps/native/android/gradle/wrapper/gradle-wrapper.properties
